

// COLORS //

$white: #ffffff;
$white-op: rgba(255, 255, 255, .6);
$light-grey: #ededed;
$dark-grey: #d2d2d2;
$light-pink: #b69fc8;
$pink: #6d5083;
$pink-op: rgba(182, 159, 200, .9);
$dark-pink: #472b5b;
$green: #a3e729;
$red: #ff0000;

// TEXT COLORS //

$dark-pink-text: #4f276e;
$light-grey-text: #797979;
$grey-text: #333333;
$font-white: #ffffff;






