@import 'basics';
@import 'colors';

.contact-box {
	width: 400px;
	height: auto;
	background-color: $pink-op;
	position: absolute;
	top: 80px;
	left: 60%;

	@media screen and (max-width: $xs-max-width) {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		margin-bottom: 30px;
		float: left;
	}
}

.contact-list {
	padding: 30px 60px 15px;

	li {
		font-size: 14px;
		font-weight: 600;

		a {
			color: $white;

			&:hover {
				color: $green;
				text-decoration: none;
			}
		}
	}

	.icon {
		position: relative;

		i {
			position: absolute;
			left: -30px;
			color: $white;
		}
	}

	.bold {
		font-weight: bold;
	}
}

.google-map {
	height: 410px;
	background-color: $light-pink;
	border-bottom: 2px solid $dark-pink;
	border-top: 2px solid $dark-pink;
	margin: 30px 0;
	position: relative;
}

form {
	@media screen and (max-width: $xs-max-width) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

